# Dependency directories
node_modules/
npm-debug.log

# Optional npm cache directory
.npm

# Optional yarn cache directory
yarn-error.log
.yarn-integrity

# Environment configuration
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for testing output
__tests__/output

# macOS
.DS_Store

# Windows
Thumbs.db

# Parcel
.cache

# Next.js
.next/
out/

# Nuxt.js
.nuxt/
dist/

# Gatsby
.cache/

# IntelliJ
.idea/

# Visual Studio Code
.vscode/

# Log files
logs/

# Editor directories
.idea/
.vscode/


/api/serviceAccount.json
